.fieldset-rellena {
    display: flex;
    flex-direction: column;

    p {
        color: #f07167ff;
        background-color: #fed9b7ff;
    }
}


//colors
$color1: #0081a7ff;
$color2: #00afb9ff;
$color3: #fdfcdcff;
$color4: #fed9b7ff;
$color5: #f07167ff;