.button-reset {
  padding: 8px;
  margin: 10px;
  background-color: $color5;
  font-size: bold;
  color: $color3;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: none;
}

.title {
  color: $color3;
  background-color: $color5;
  text-transform: uppercase;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body {
  background-color: rgb(195, 252, 233);
}

.js__profile-image,
.js__profile-preview {
  width: 120px; /* Ajusta el tamaño según sea necesario */
  height: 120px;
  border: solid 2px rgb(192, 191, 191);
  background-size: cover; /* Ajusta la imagen para que cubra el background */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que se repita */
}

.invitation {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  // border: solid 5px $color2;
  border-radius: 5%;
  margin-left: 5px;
}

.name {
  font-size: 45px;
  margin-top: 10px;
  font-family: $second-font;
}

.surname {
  font-size: 23px;
}

.date {
  font-size: 23px;
}

.color-borde1 {
  border: 5px solid rgb(226, 197, 119);
}
.color-borde2 {
  border: 5px solid rgb(252, 250, 227);
}
.color-borde3 {
  border: 5px solid rgb(237, 204, 223);
}

.color-nombre1 {
  color: rgb(46, 70, 82);
}
.color-nombre2 {
  color: rgb(204, 165, 122);
}
.color-nombre3 {
  color: rgb(172, 167, 199);
}

.color-lugar1 {
  color: rgb(79, 155, 143);
}
.color-lugar2 {
  color: rgb(247, 238, 209);
}
.color-lugar3 {
  color: rgb(210, 186, 210);
}

.color-fecha-hora1 {
  color: rgb(79, 155, 143);
}
.color-fecha-hora2 {
  color: rgb(247, 238, 209);
}
.color-fecha-hora3 {
  color: rgb(210, 186, 210);
}

.btn {
  background-color: white;
  color: black; /* Texto negro */
  border: 2px solid black;
  margin-top: 25px;
  padding: 7px 14px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Texto en mayúsculas */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
  border-radius: 15px; /* Bordes redondeados */
  outline: none;  /*Elimina el borde de enfoque */
  text-align: center; /* Centrar el texto */
}

.btn:hover {
  background-color: black; /* Cambia el fondo a negro al pasar el mouse */
  color: white; /* Cambia el texto a blanco */
}

.btn:active {
  background-color: gray; /* Cambia a gris al hacer clic */
}

.wedding_image_preview {
  background-image: url("/images/fondo\ boda.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.birthday_image_preview {
  background-image: url("/images/fondo\ cumpleaños.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.party_image_preview {
  background-image: url("/images/fondo\ fiesta.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}