.button-reset {
  padding: 8px;
  margin: 10px;
  background-color: $color5;
  font-size: bold;
  color: $color3;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: none;
}

.title {
  color: $color3;
  background-color: $color5;
  text-transform: uppercase;
  margin: 10px;
}
.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.js__profile-image,
.js__profile-preview {
  width: 120px; /* Ajusta el tamaño según sea necesario */
  height: 120px;
  border: solid 2px rgb(192, 191, 191);
  background-size: cover; /* Ajusta la imagen para que cubra el background */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que se repita */
}

.invitation {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px $color2;
  border-radius: 5%;
  background-color: rgb(234, 243, 255);
  margin-left: 5px;
}

.name {
  font-size: 45px;
  margin-top: 10px;
  font-family: $second-font;
}

.surname {
  font-size: 23px;
}

.date {
  font-size: 23px;
}
