.section_footer {
  position: sticky;
  width: 100dvw;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color4;
  padding: 10px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
  

  &_copyright {
    color: $color1;
    font-family: $font-main;
    font-weight: bold;
    font-size: 1.2rem;
  }
  &_icon {
    width: 3rem;
    height: 3rem;
    color: $color1;
    z-index: 10;
  }
  &_container_img {
    width: 1.5rem;
    @media (min-width: 1024px) {
      scale: 1.5;
      margin-left: 3rem;
    }
  }

  &_container_icon {
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    color: $color1;
    @media (min-width: 1024px) {
      scale: 1.5;
      margin-right: 3rem;
    }
  }

  &_container_fa {
    color: $color1;
  }
}
