.section_footer {
  position: sticky;
  width: 100dvw;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color4;
  padding: 10px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
  

  &_copyright {
    color: $color1;
    font-family: $font-main;
    font-weight: bold;
    font-size: 1.2rem;
  }
  &_icon {
    width: 3rem;
    height: 3rem;
    color: $color1;
    z-index: 10;
  }
  &_container_img {
    width: 1.5rem;
    @media (min-width: 1024px) {
      scale: 1.5;
      margin-left: 2rem;
    }
  }

  &_container_icon {
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    color: $color1;
    @media (min-width: 1024px) {
      scale: 1.5;
      margin-right: 3rem;
    }
  }

}

.footer_container_icon a {
  transition: transform 0.3s, color 0.3s; /* Smooth transition for color and scale */
}

.footer_container_icon a:hover {
  color: $color1; /* Change to your desired color on hover */
  transform: scale(1.2); /* Increase size by 20% on hover */
}

/* Specific color for each icon by default */
.footer_container_fa {
  color: #3b5998; /* Facebook icon color */
}

.footer_container_ins {
  color: #E4405F; /* Instagram icon color */
}

.footer_container_link {
  color: #0077b5; /* LinkedIn icon color */
}