.fieldset1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
}
.form-design {
  color: $color3;
  background-color: $color5;
}
.colors {
  margin: 10px;
  border: none;
}

.event {
  border: none;
  margin: 10px;
}
