.fieldset-rellena {
    display: flex;
    flex-direction: column;
    

    p {
        color: $color5;
        background-color: $color4;
    }
}

.input {
    align-self: flex-start;
}