header {
  display: flex;
  position: sticky;
  background-color: $color4;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.logo {
  padding: 15px;
  padding-bottom: 10px; 
  display: flex;
  justify-content: center;
  align-content: center;
  

    &__icon {
      width: 25px;
      height: 25px;
    }
    a {
      display: flex;
    }
}

h2 {
  font-family: $font-main;
  color: $color1;
  margin-left: 5px;
  display: flex;
}