header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: $color4;
  width: 100%;
  margin-top: 0;
}

.logo {
  top: 0;
  left: 0;
  padding: 15px;
  padding-bottom: 10px; 

    &__icon {
      width: 25px;
      height: 25px;
    }
}