.header {
  position: fixed;
}

.menu {
  z-index: 10;
  top: 0;
  left: 0;
  padding: 15px;
  padding-bottom: 10px; 
  background-color: $color-secondary;

  &__icon {
    width: 15px;
    height: 15px;
  }
}