.body {
  width: 100%;
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main-pageform {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 130dvh;
  flex: 1;
  @media (min-width: 600px) {
    flex-direction: row;
  }
}
.form-pf {
  background-color: $color2;
  width: 100dvw;
  height: 120dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: -65px;
}
.aside-pf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 40%;
  margin-bottom: 100px;
  margin-top: 40px;
}


