<aside class="preview-container">
    <h3 class="title">Previsualización</h3>
    <button type="button" class="button-reset">Crear</button>
    <div class="invitation js-eventPreview" id="previsualizacion">
        <div class="image-preview js__profile-preview"></div>
        <p class="name js-fillName">Nombre</p>
        <p class="surname js-fillSurname">Lugar</p>
        <p class="date js-fillDate">Fecha y hora</p>
        
    </div>
    <button class="btn">Comparte en X</button>
</aside>