<fieldset>
  <legend>DISEÑO</legend>
  <label for="colors">COLORS</label>
  <select id="colors" placeholder="Elige tu color" name="colores">
    <option value="Palette1">Paleta 1</option>
    <option value="Palette2">Paleta 2</option>
  <label for="events">EVENTO</label>
  <select id="events" type="text" placeholder="Elige tu evento" name="eventos">
    <option value="birthday">Cumpleaños</option>
    <option value="wedding">Boda</option>
  <input type="submit" value="Enviar info" />
</fieldset>
