<footer class="section_footer">
  <div class="footer">
    <div>
        <img
        class="footer_container_img"
        src="/images/logo-blue.png"
        alt="Imagen logotipo"
        />
    </div>

    <div>
        <p>&copy; <span id="year"></span> U're Invited. All Rights Reserved.</p>
    </div>
    
    <div class="footer_container_icon">
      <i class="footer_container_fa fa-brands fa-facebook"></i>
      <i class="footer_container_ins fa-brands fa-instagram"></i>
      <i class="footer_container_link fa-brands fa-linkedin"></i>
    </div>
  </div>
</footer>
