<fieldset class="fieldset1">
  <h3 class="form-design js-design">DISEÑO <i class="fa-solid fa-angle-down js-arrow"></i></h3>
  
  <div class="hidden js-collapse">
    <div class="colors">
      <label for="colors">COLORS</label>
      <select id="colors" name="colores">
        <option value="choose color">Elige tu color</option>
        <option value="Palette1">Paleta 1</option>
        <option value="Palette2">Paleta 2</option>
        <option value="Palette3">Paleta 3</option>
      </select>
    </div>

    <div class="event">
      <label for="events">EVENTO</label>
      <select id="events" name="eventos">
        <option value="choose option">Elige tu evento</option>
        <option value="birthday">Cumpleaños</option>
        <option value="wedding">Boda</option>
        <option value="Graduation">Graduación</option>
        <option value="Party">Fiesta</option>
      </select>
    </div>
  </div>  

</fieldset>
