<footer class="section_footer">
  <div class="footer">
    <div>
        <img
        class="footer_container_img"
        src="/images/logo-blue.png"
        alt="Imagen logotipo"
        />
    </div>

    <div>
        <p>&copy; <span id="year"></span> U're Invited. All Rights Reserved.</p>
    </div>
    
    <div class="footer_container_icon">
      <a href="https://www.facebook.com/AdalabDigital" target="_blank" class="footer_container_fa">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/adalab_digital/" target="_blank" class="footer_container_ins">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/school/adalab/" target="_blank" class="footer_container_link">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
