<fieldset class="fieldset-rellena">
  <legend class="legend">
    <h3 class="js-formFill">
      RELLENA <i class="fa-solid fa-angle-down js-arrow-fill"></i>
    </h3>
  </legend>

  <div class="fill hidden js-fill">
    <label class="form-labels" for="firstName">NOMBRE</label>
    <input
      class="input"
      placeholder="Ej. Homer"
      type="text"
      id="firstName"
      name="firstName"
      required
    />
    <label class="form-labels js-formSurname" for="surname">¿DÓNDE SERÁ?</label>
    <input
      class="input"
      placeholder="Ej. Springfield"
      type="text"
      id="surname"
      name="surname"
    />
    <label class="form-labels" for="date">CUANDO SERÁ TU EVENTO?</label>
    <input
      class="input js-date"
      type="datetime-local"
      id="date"
      name="date-of-event"
      min="2024-01-01"
      max="2035-01-01"
    />
    <label class="form-labels label-avatar" for="imageUpload">
      SUBE TU IMAGEN
    </label>
    <input
      class="input-avatar js__profile-upload-btn"
      type="file"
      id="imageUpload"
      name="imageUpload"
      accept="image/*"
    />
    <div class="image-container js__profile-image"></div>
  </div>
  <div class="buttons js-reset">
    <button class="restartButton" type="reset">Reset ⭮</button>
  </div>
</fieldset>
