<main class="main">
  <section class="main_logo">
    <img
      id="logo_img"
      src="/images/376582125-f56c0fbd-b110-42c5-b35f-7f7eaaf21340.svg"
      alt="imagen del logotipo"
    />
  </section>
  <h2 class="main_title">U're invited</h2>
  <section class="main_grid">
    <div class="main_grid_desing">
      <img
        id="img_desing"
        src="/images/lightbulb-doodle-icon-f1966a.png"
        alt="Imagen de una bombilla encendida"
      />
      <article>Diseña</article>
    </div>
    <div class="main_grid_filled">
      <img
        src="/images/3534139.png"
        alt="Imagen rellena campos del formulario"
      />
      <article>Rellena</article>
    </div>
    <div class="main_grid_share">
      <img src="/images/84269.png" alt="Imagen de compartir" />
      <article>Comparte</article>
    </div>
  </section>
  <a href="./form.html" target="_blank">Comenzar</a>
</main>
