<div class="container">
<main class="main">
  <h1 class="main_firstTitle">Creador de invitaciones en línea gratuito</h1>
  <p class="main_explanation">
    Crea invitaciones en minutos. Con el creador de invitaciones digitales de
    U're invited es muy fácil.
  </p>

  <section class="main_logo">
    <img
      class="main_logo_img"
      id="logo_img"
      src="/images/logo-light-blue.png"
      alt="imagen del logotipo"
    />
  </section>
  <h2 class="main_title">U're invited</h2>
  <section class="main_grid">
    <div class="main_grid_desing">
      <i class="fa-solid fa-palette"></i>
      <article>Diseña</article>
    </div>
    <div class="main_grid_filled">
      <i class="fa-solid fa-file-image"></i>
      <article>Rellena</article>
    </div>
    <div class="main_grid_share">
      <i class="fa-solid fa-share-nodes"></i>
      <article>Comparte</article>
    </div>
  </section>
  <a class="main_button" href="/pageform.html" target="_blank">Comenzar</a>
</main>
<aside class="aside">
  <div class="slogan">
    Impresiona a tus invitados con una impresionante invitación de U're invited
  </div>
<div class="example">
  <img class="example_img" src="/images/fondo cumpleaños.png" alt="">
</div>
<div class="example_2">
  <img class="example_2_img" src="/images/fondo boda.png" alt="">
</div>
</aside>
</div>
