<main class="main">
  <section class="main_logo">
    <img
      id="logo_img"
      src="/images/logo-light-blue.png"
      alt="imagen del logotipo"
    />
  </section>
  <h2 class="main_title">U're invited</h2>
  <section class="main_grid">
    <div class="main_grid_desing">
      <i class="fa-solid fa-palette"></i>
      <article>Diseña</article>
    </div>
    <div class="main_grid_filled">
      <i class="fa-solid fa-file-image"></i>
      <article>Rellena</article>
    </div>
    <div class="main_grid_share">
      <i class="fa-solid fa-share-nodes"></i>
      <article>Comparte</article>
    </div>
  </section>
  <a class="main_button" href="/pageform.html" target="_blank">Comenzar</a>
</main>
